input[type="text"] {
  width: 30vw;
}
body,
html,
label{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
input {
  font-family: sans-serif;
  font-size: 11pt;
  padding: 10px;
  border-radius: 15px;
}
form {
  align-self: center;
  align-items: center;
}
.container {
  margin-left: 23%;
}
img {
  width: 15vw;
  margin-left: 40%;
}
h3 {
    padding: 15px;
}